<div style="margin-top:100px ;">
    <div class="bg0 m-t-23 p-b-140">
        <div class="container" >
            <div class="flex-w flex-sb-m p-b-52 ">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <h4>Ordered Products</h4>
                </div>
            </div>
            
            {{#each orderProducts}}
            
            <div class=" d-flex mt-3 " style="float: left;">
                 

                <h2></h2>
                <div class="">
                   
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="/productImages/{{this.product._id}}0.jpg" alt="IMG-PRODUCT"
                                style="height:20rem ;">
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="#" class="text-white">
                                    {{this.product.name}}
                                </a>
                                <div>
                                    <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{this.product.category}}  
                                    </a>

                                    <span class="stext-105 cl3">
                                       -- ${{this.product.price}}
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            {{/each}}
            
            <!-- Load more -->

        </div>
    </div>
</div>