<div class="container mt-5 pt-5">
    <center class="mt-5 pt-5">

        <img src="https://cdn.dribbble.com/users/335541/screenshots/7102045/media/5b7237fe7bbfa31531d6e765576f1bc4.jpg?compress=1&resize=400x300&vertical=top"
            alt="" style="width:300px"><br>
       
        <h2 style="color: green;">YOUR ORDER PLACED SUCCESSFULLY</h2>

         <a class="btn btn-succes" href="/orders" style="margin-top: 17px; color: green; border: solid green;">VIEW ORDERS
            </a>
    </center>
</div>